.editActionIcon {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  &[data-hovered] {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
}

.promptPaper {
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: var(--mantine-color-default-hover);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
}

.routerLink {
  text-decoration: none;
  color: inherit;
}
