.root {
  @mixin light {
    &[data-variant="default"] {
      --prompt-input-bd: var(--mantine-color-gray-4);
      --prompt-input-bg: var(--mantine-color-white);
      --prompt-input-bd-focus: var(--mantine-primary-color-filled);
    }

    &[data-variant="filled"] {
      --prompt-input-bd: transparent;
      --prompt-input-bg: var(--mantine-color-gray-1);
      --prompt-input-bd-focus: var(--mantine-primary-color-filled);
    }

    &[data-variant="unstyled"] {
      --prompt-input-bd: transparent;
      --prompt-input-bg: transparent;
      --prompt-input-bd-focus: transparent;
    }
  }

  @mixin dark {
    &[data-variant="default"] {
      border: rem(1px) solid var(--mantine-color-dark-4);
      background-color: var(--mantine-color-dark-6);
      &:focus {
        border-color: var(--mantine-primary-color-filled);
      }
    }

    &[data-variant="filled"] {
      --prompt-input-bd: transparent;
      --prompt-input-bg: var(--mantine-color-dark-5);
      --prompt-input-bd-focus: var(--mantine-primary-color-filled);
    }

    &[data-variant="unstyled"] {
      --prompt-input-bd: transparent;
      --prompt-input-bg: transparent;
      --prompt-input-bd-focus: transparent;
    }
  }
}

.input {
  & :global(.mantine-Textarea-input) {
    scrollbar-width: thin;
    border-color: transparent;
    background-color: transparent;

    &:focus {
      outline: none;
      border-color: transparent;
    }
  }
}

.toolbar {
  display: flex;
}
