.root {
  min-width: 40%;
  max-width: 80%;
  display: flex;
  gap: 2px;
  padding-block: 10px;
  padding-inline: 14px;

  &[data-from="user"] {
    margin-left: auto;
    background-color: var(--mantine-primary-color-light);
  }
  &[data-from="assistant"] {
    background-color: var(--mantine-color-orange-light);
  }
  &[data-from="system"] {
    background-color: var(--mantine-color-gray-light);
  }
}
