.root {
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: var(--mantine-color-default-hover);
		transition: background-color 0.2s ease-in-out;
		cursor: pointer;
	}
	&[data-disabled] {
		background-color: unset;
		cursor: default;
	}
}
